@charset "UTF-8";

#header {
	padding: 1px;
	margin: 5px;
	height: auto;
	width: 1333.160px;
}

#header h1 {
	text-align: center;
	font-family: serif;
}

#byun {
	text-decoration: none
}

.wood {
	color: #906D3B;
}

#red {
	color: red;
}

#orange {
	color: orange;
}

#green {
	color: #94EB3E;
}

#sky {
	color: #1EDDFF;
}

/* -----------------------------------------------헤더 css---------------------------------------- */
#nav {
	padding: 1px;
	margin: 5px;
	height: auto;
	background-color: #FAFAFA;
	width: 1333.160px;
}

ul {
	list-style-type: square;
	list-style-position: outside;
	list-style: none;
	padding: 0px 0px; /*높이px 좌우px 설정*/
}

ul li {
	display: inline;
	padding: 0px 70px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

ul li a {
	text-decoration: none;
	color: black;
	font-size: large;
	font-family: fantasy;
}

ul li a:hover {
	text-decoration: underline;
	color: #1EDDFF;
	font-size: 1.1em;
}

/* -----------------------------------------------내비 css---------------------------------------- */
#middle {
	width: 1348.880px;
}

#left {
	float: left;
	padding: 1px;
	margin: 5px;
	height: calc(100vh - 110px);
	width: calc(20% - 20px);
	background-color: #FAFAFA;
}

#left h1 {
	font-family: cursive;
	text-align: center;
}

#left h2 {
	padding: 0px 1px;
	text-align: center;
}

#left a {
	text-decoration: none;
}

#left table {
	border: 2px solid #F2F2F2;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	height: calc(100vh - 110px);
}

#left tr {
	border: 2px solid #E6E6E6;
}

.hi {
	visibility: hidden;
	font-size: x-small;
}

.com:hover .hi {
	opacity: 1;
	visibility: visible;
}

/* -----------------------------------------------중간 왼쪽 css---------------------------------------- */
#section {
	float: left;
	padding: 1px;
	margin: 5px;
	height: calc(100vh - 110px);
	width: 60%;
}

#article {
	padding: 1px;
	margin: 5px;
	height: 99%;
}

#tion {
	float: left;
}

#tion #left {
	float: left;
	padding: 5px;
	margin: 5px;
	height: auto;
	width: calc(33% - 20px);
	background-color: white;
}

#tion #section {
	float: left;
	padding: 5px;
	margin: 5px;
	height: auto;
	width: calc(33% - 20px);
	background-color: white;
}

#tion #right {
	float: left;
	padding: 5px;
	margin: 5px;
	height: auto;
	width: calc(33% - 20px);
	background-color: white;
}

/* -----------------------------------------------중간  css---------------------------------------- */
#right {
	background-color: #FAFAFA;
	float: left;
	padding: 1px;
	margin: 5px;
	height: calc(100vh - 110px);
	width: calc(20% - 20px);
}
/* -----------------------------------------------중간 오른쪽 css---------------------------------------- */
#footer {
	background-color: #FAFAFA;
	padding: 1px;
	margin: 5px;
	clear: both;
	height: auto;
	width: 1333.160px;
}

#footer ul li {
	display: inline;
	padding: 0px 30px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: small;
}

#cart {
	padding: 1px;
	margin: 5px;
}

#man {
	padding: 1px;
	margin: 5px;
}

#id {
	padding: 1px;
	width: 90%;
}

#pass {
	padding: 1px;
	width: 90%;
}